<%- include ("partials/header.ejs") %>

<h2 class="about_h2">About</h2>
<p class="about_p">
    This is another captsone project from the course "<strong>The Complete 2024 Web Development Bootcamp</strong>" from <a href="https://www.udemy.com/course/the-complete-web-development-bootcamp/#instructor-1">Dr. Angela Yu</a>.
    <br>This time, the objective was to use successfully a public api.
    <br>It was a fun challenge and i'm eager for more in the future.
         

</p>





<%- include ("partials/footer.ejs") %>
