<%- include ("partials/header.ejs") %>

<body>
    <h2 class="contact">Contact</h2>
    <p>
        <img src="images/linkedin.jpg" alt="LinkedIn_Logo" class="logo"><a href="https://www.linkedin.com/in/pedro-rodrigues-355311146/" class="profiles"><strong>LinkedIn</strong></a>
        <br>
        <img src="images/GitHub_Invertocat_Logo.svg.png" alt="GitHub_Logo" class="logo"><a href="https://github.com/Pedro-Rodrigues-1992" class="profiles"><strong>Github</strong></a>
    </p>        
</body>




<%- include ("partials/footer.ejs") %>
